* {
    font-family: 'Nunito Sans', sans-serif;
}
 *, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
} 

body, html {
    height: 100%
}



*{
    box-sizing: border-box;
}

ul {
    list-style: none;
}

.main-img {
    background-image: url(../Photos/Mainphoto.jpg);
    height: 785px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    

}

.container {
    display: grid;
    gap: 5px;
    margin: 20px;
    max-width: 300px;
    padding: 16px;
    background-color: #BDBDBD;
    opacity: .7;
    border-style: solid;
    border-width: 4px;
    margin: 150px auto 10px auto;
    
}

#topNav {
    display: none;
    position: absolute;
    top: 42px;
    right: 8px;
    background: white;
    opacity: .7;
    padding-right: 20px;

}

#openNav {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 0;
    padding-top: 40px;
    overflow: hidden;
    border: 1px solid #ccc;
    background: black 10px 10px / 20px 20px no-repeat;

    background-image: -webkit-repeating-linear-gradient(#ccc, #ccc 2px, #000  2px, #000 4px);
    background-image: -webkit-repeating-linear-gradient(#ccc, #ccc 2px, #000  2px, #000 4px);
    z-index: 1;
}

.with_nav #openNav {
    background-image: linear-gradient(45deg, transparent 13px, #ccc 13px, #ccc 15px, transparent 0), 
    linear-gradient(-45deg, #000  13px, #ccc 13px, #ccc 15px, #000 0);
}


.with_nav #topNav {
    display: block;
}


.nav_ul a:hover {
    background-color: #BDBDBD;
    

}



h1,
p.intro {
    text-align: center;
}

.class-for-index {
    margin-top: 10px;
    margin-bottom: 50px;
}

.class-for-contact {
    margin-top: 100px;
    margin-bottom: 50px;
}

.class-for-faqs {
    margin-top: 100px;
    margin-bottom: 50px;
}

.class-for-about {
    margin-top: 100px;
    margin-bottom: 50px;
    
}


/** Webpage Animation **/

.link-content {
    animation: transitionIn 2s;
    margin-right: 300px;
    margin-left: 300px;
}

@keyframes transitionIn {
    from {
        opacity: 0;
        transform: rotateX(-100deg);
    }
    to {
        opacity: 1;
        transform: rotateX(0);
    }
}


/**** Media Queries ****/

@media only screen and (min-width: 480px) {
    
    

  
    }



/* HIDE HAMBURGER MENU AND UNHIDE NAV LINKS */


@media only screen and (max-width: 995px) and (min-width: 768px),
       
{

    .container {
        margin: 90px 0 auto auto;
    }
    
    #topNav {
        display: flex;
        height: 30px;
        width: 30%;
        
        
    }

    #openNav {
        display: none;
    }
    
    .nav_ul {
        display: flex;
        align-items: center;
    }

    li {
        padding: 15px;
    }

   


}

@media only screen and (min-width: 996px) {

    .container {
        max-width: 480px;
        margin: 150px, auto, 10px, auto;
        gap: 12px;
    }
    
    #openNav {
        display: none;
    }

    #topNav {
        display: flex;
        height: 30px;    
        width: 100%;
            
        }
        .nav_ul {
            display: flex;
            align-items: center;
        }

        li {
           
            padding: 50%;
            
        }
        
        
}