* {
    font-family: 'Nunito Sans', sans-serif;
}

h1,
p.intro {
    text-align: center;
}


form {
    
    text-align: center;
}




/**** Media Queries ****/

@media only screen and (min-width: 480px) {


}






/* @media only screen and (min-width: 768),
       only screen and (min-width: 700) */