* {
    font-family: 'Nunito Sans', sans-serif;
}

 *, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
} 

h1,
p {
    text-align: center;
}

body, html {
    height: 100%
}


ul {
    list-style: none;
}

.main-img {
    background-image: url(../Photos/Mainphoto.jpg);
    height: 900px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    

}

/** Form **/

.container {
    display: grid;
    gap: 5px;
    margin: 20px;
    max-width: 300px;
    padding: 16px;
    background-color: #BDBDBD;
    opacity: .7;
    border-style: solid;
    border-width: 4px;
}

/** Navigation Bar **/

#topNav {
    display: none;
    position: absolute;
    top: 42px;
    right: 8px;
    background: white;
    opacity: .7;
    padding-right: 20px;
}

/** Nav Bar Hover **/

.nav_ul a:hover {
    background-color: #BDBDBD;
}


/** Hamburger Menu **/

#openNav {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 0;
    padding-top: 40px;
    overflow: hidden;
    border: 1px solid #ccc;
    background: black 10px 10px / 20px 20px no-repeat;
    background-image: -webkit-repeating-linear-gradient(#ccc, #ccc 2px, #000  2px, #000 4px);
    z-index: 1;
}

/** Hamburger Menu on Open **/

.with_nav #openNav {
    background-image: linear-gradient(45deg, transparent 13px, #ccc 13px, #ccc 15px, transparent 0), 
    linear-gradient(-45deg, #000  13px, #ccc 13px, #ccc 15px, #000 0);
}


.with_nav #topNav {
    display: block;
}


/*** Styles for Link Pages ***/

.class-for-index {
    padding-top: 10px;
    padding-bottom: 50px;
}

.class-for-contact {
    padding-top: 100px;
    padding-bottom: 50px;
}

.class-for-faqs {
    padding-top: 100px;
    padding-bottom: 50px;
}

.class-for-about {
    padding-top: 100px;
    padding-bottom: 20px;
}

/** Link Pages Background Color **/

body .background-color {
    background: rgb(245, 225, 172);
    
}

/**** ---- Webpage Animation ---- ****/

.link-content {
    animation: transitionIn 1.75s;

}

@keyframes transitionIn {
    from {
        opacity: 0;
        transform: rotateX(-100deg);
    }
    to {
        opacity: 1;
        transform: rotateX(0);
    }
}

/*** --- Photos --- ***/

.kitchen-img {
    
    margin: auto;
    display: block;
    padding-bottom: 20px;
    
}

.spices-img {
    
    margin: auto;
    display: block;
    padding-bottom: 20px;
}

.dutch-img {
    
    margin: auto;
    display: block;

}

/**** ---- Drag Action ---- ****/

#drag_container {
    touch-action: none;
  }

  #myAccountForm {
    touch-action: none;
    user-select: none;
  }

  #myAccountForm:active {
    background-color: #5c5c5ca9;
  }

  #myAccountForm:hover {
    cursor: pointer;
    border-color: white;
    border-width: 10px;
  }

/**** ---- MEDIA QUERIES ---- ****/

@media only screen and (min-width: 480px) {


    #topNav {
        display: none;
        position: absolute;
        top: 42px;
        right: 8px;
        background: white;
        opacity: .7;
        padding-right: 20px;
    }

    .with_nav #openNav {
        background-image: linear-gradient(45deg, transparent 13px, #ccc 13px, #ccc 15px, transparent 0),
        linear-gradient(-45deg, #000 13px, #ccc 13px, #ccc 15px, #000 0);
    }


    .with_nav #topNav {
        display: block;
    }

    .nav_ul a:hover {
        background-color: #BDBDBD;
    }

    ul {
        list-style: none;
    }

    /*** --- ADJUST MARGINS FOR LINK PAGES CONTENT --- ***/
    .link-content {
        padding: 0 20% 20% 20%;
    }

    @media only screen and (max-width: 995px) and (min-width: 768px) {

        .container {
            margin: 90px 0 auto auto;
        }

        #topNav {
            display: flex;
            height: 30px;
            width: 290px;
            padding-left: 10px;
        }

        #openNav {
            display: none;
        }

        .nav_ul {
            display: flex;
            justify-content: center;
        }

        li {
            position: relative;
            top: -10px;
            right: 52px;
            padding: 0 15px;
        }


        #drag_container {
            touch-action: none;
        }

        #myAccountForm {
            touch-action: none;
            user-select: none;
        }

        #myAccountForm:active {
            background-color: #5c5c5ca9;
        }

        #myAccountForm:hover {
            cursor: pointer;
            border-color: white;
            border-width: 10px;
        }


        .kitchen-img {
            float: left;
            width: 33.33%;
            padding-right: 20px;
            padding-bottom: 20px;


        }

        .spices-img {
            float: left;
            width: 33.33%;
            padding-right: 20px;
            padding-bottom: 20px;
        }

        .dutch-img {
            float: left;
            width: 33.33%;
            padding-right: 20px;
            padding-bottom: 20px;

        }

    }

    @media only screen and (min-width: 996px) {

        .container {
            max-width: 480px;
            margin: 150px auto 10px;
            gap: 12px;
        }

        #topNav {
            display: flex;
            width: 100%;
            height: 30px;
            justify-content: center;

        }

        #openNav {
            display: none;
        }

        .nav_ul {
            display: flex;
            justify-content: center;
        }

        .link-content {
            animation: transitionIn 1.75s;
            padding-right: 20%;
            padding-left: 20%;
            padding-bottom: 20%;

        }

        li {
            position: relative;
            top: -10px;
            padding: 0 50%;
        }

        #drag_container {
            touch-action: none;
        }

        #myAccountForm {
            touch-action: none;
            user-select: none;
        }

        #myAccountForm:active {
            background-color: #5c5c5ca9;
        }

        #myAccountForm:hover {
            cursor: pointer;
            border-color: white;
            border-width: 10px;
        }

        .kitchen-img {
            float: left;
            width: 33.33%;
            padding-right: 20px;
            padding-bottom: 30px;


        }

        .spices-img {
            float: left;
            width: 33.33%;
            padding-right: 20px;
            padding-bottom: 30px;
        }

        .dutch-img {
            float: left;
            width: 33.33%;
            padding-right: 20px;
            padding-bottom: 30px;

        }
    }
}